[submodule "vendor/xmonad-contrib"]
	path = vendor/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
[submodule "vendor/xmonad"]
	path = vendor/xmonad
	url = https://github.com/xmonad/xmonad
